{% extends 'base.html' %}
{% block mainbody %}
  
  <main id="main">
  <link rel="stylesheet" href="{{url_for('static',filename = 'assets/css/serviceList.css')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Inner Page</li>
        </ol>
        <h2>Login here</h2>

      </div>
    </section><!-- End Breadcrumbs -->


    <div class="container mt-5">
    <div class="row">
        {% for usr  in doctors %}
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" width="70">
                    <div class="d-flex flex-column ml-2"><span>{{usr.name}}</span><span class="text-black-50">{{usr.profession}}</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6>Get more context on your users with stripe data inside our platform.</h6>
                <div class="d-flex justify-content-between install mt-3"><span>{{usr.category}}</span><span class="text-primary"><a href = "/doctor/dashboard/{{usr.sno}}">Dashboard&nbsp;</a><i class="fa fa-angle-right"></i></span></div>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>


  </main><!-- End #main -->
 {% endblock mainbody %}